.container{
    position: relative;
    @apply flex flex-col items-start text-white bg-[#202020] w-full lg:w-[22rem] py-4 pb-8;
    @apply rounded-2xl border-b-black border-b-8;
    border-top: solid 4px transparent;
}

.container::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/images/border-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.content{
    @apply w-full px-8;
    z-index:2;
}

.info__header{
    @apply flex justify-between items-center;
}

.info__header p{
    @apply montserrat-med-12 text-[#807F7E];
}

.info__header img{
    @apply h-auto w-8;
}

.info__value{
    @apply flex flex-col items-start pt-2;
}

.info__value p{
    @apply montserrat-bold-25;
}